<script>
	$(document).ready(function() {
	$.ajax({

		type : "GET",

		cache : false,

		url : "/game_power",

		dataType : "text",

		success : processData,

		error : errorAlert

	});

	function processData(data) {
		
		if ($("#flot-gp").length > 0) {
			var cdate = new Date();
			var oneWeekAgo = new Date();
			oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);
			$.plot($("#flot-gp"), [{
				label : "Game Power",
				data : $.parseJSON(data),
				color : "#f36b6b"
			}], {
				xaxis : {
					min : oneWeekAgo.getTime(),
					max : cdate.getTime(),
					mode : "time",
					tickSize : [24, "hour"]
				},
				series : {
					lines : {
						show : true,
						fill : true
					},
					points : {
						show : true,
					}
				},
				grid : {
					hoverable : true,
					clickable : true
				},
				legend : {
					show : false
				}
			});

			$("#flot-gp").bind("plothover", function(event, pos, item) {
				if (item) {
					if (previousPoint != item.dataIndex) {
						previousPoint = item.dataIndex;

						$("#tooltip").remove();
						var y = item.datapoint[1].toFixed();

						showTooltip(item.pageX, item.pageY, item.series.label + " = " + y + " hits");
					}
				} else {
					$("#tooltip").remove();
					previousPoint = null;
				}
			});
		}
	}

	function errorAlert(data) {

	}
});

$(document).ready(function() {
$.ajax({

		type : "GET",

		cache : false,

		url : "/magnetic_power",

		dataType : "text",

		success : processMagneticData,

		error : errorMagenticAlert

	});

	function processMagneticData(data) {
		
		if ($("#flot-mp").length > 0) {
			var cdate = new Date();
			var oneWeekAgo = new Date();
			oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);
			$.plot($("#flot-mp"), [{
				label : "Magentic Power",
				data : $.parseJSON(data),
				color : "#3a8ce5"
			}], {
				xaxis : {
					min : oneWeekAgo.getTime(),
					max : cdate.getTime(),
					mode : "time",
					tickSize : [24, "hour"]
				},
				series : {
					lines : {
						show : true,
						fill : true
					},
					points : {
						show : true,
					}
				},
				grid : {
					hoverable : true,
					clickable : true
				},
				legend : {
					show : false
				}
			});

			$("#flot-mp").bind("plothover", function(event, pos, item) {
				if (item) {
					if (previousPoint != item.dataIndex) {
						previousPoint = item.dataIndex;

						$("#tooltip").remove();
						var y = item.datapoint[1].toFixed();

						showTooltip(item.pageX, item.pageY, item.series.label + " = " + y + " hits");
					}
				} else {
					$("#tooltip").remove();
					previousPoint = null;
				}
			});
		}
	}

	function errorMagenticAlert(data) {

	}
});
</script>
<div class="container-fluid nav-hidden" id="content">
	<div id="main">
		<div class="container-fluid">
			<div class="page-header">
				<div class="pull-left">
					<h3>Power Stats</h3>
				</div>
				<div class="pull-right">
					<ul class="stats">
						<li class='lime'>
							<i class="icon-calendar"></i>
							<div class="details">
								<span class="big">February 22, 2013</span>
								<span>Wednesday, 13:56</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span5">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3><i class="icon-magnet"></i> Magnetic Power (Visitors) </h3>
						</div>
						<div class="box-content">
							<div class="statistic-big">
								<!--div class="top">
									<div class="right">
										8,195 <span><i class="icon-circle-arrow-up"></i></span>
									</div>
								</div-->
								<div class="bottom">
									<div class="flot medium" id="flot-mp"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span5">
					<div class="box box-color lime box-bordered">
						<div class="box-title">
							<h3><i class="icon-gamepad"></i> Game Power (Players) </h3>
						</div>
						<div class="box-content">
							<div class="statistic-big">
								<!--div class="top">
									<div class="right">
										50% <span><i class="icon-circle-arrow-right"></i></span>
									</div>
								</div-->
								<div class="bottom">
									<div class="flot medium" id="flot-gp"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span2"></div>
			</div>
		</div>
	</div>
</div>
