      <div style="width: 100%;" class="parentDivS">
         
         <div class="allDivS">
            <div class="containerS mainContentS" id="shaker-container">
               <%= image_tag 'stagev2/startv.png', :class =>"banner"%>
               <div class="message-3">
                  <h3></h3>
               </div>
               <p class="stdTextSmall borderBottom">
                  <%= link_to "#" , :style=>'text-decoration: none' do %>
						<button class="stdButton mb-50 mt-20">
							<i class="icon-signin"></i> Your Game is on the way. Please check again.
						</button>
						<%end%>
               </p>
            </div>
         </div>
      </div>
      <div class="footer container">
         <p class="footerText">
            This contest is powered by <span>EPP</span>.
         </p>
         <p class="stdText">
         	<%= link_to "http://www.engageperpage.com" , target: "_blank" do %>
             <span><%= image_tag "stagev2/logo.png"%><span>
            <% end %>
         </p>
      </div>