<div class="span4">
	<div class="box box-condensed box-bordered box-color">
		<div class="box-title">
			<h3><i class="icon-tasks"></i> Task Locked</h3>
		</div>
		<div class="box-content">
		<%= image_tag(asset_path("locked.jpg"), alt: "Locked")%>
		</div>
	</div>
</div>