<div id="hass" class="row-fluid">
	<div class="span10">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-heart"></i> Help </h3>
			</div>
			<div class="box-content"  data-start="bottom" data-visible="true">
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Welcome to the Game!</h4>
						Complete the Levels and win rewards and Boasters.
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Win Each Level!</h4>
						Each <strong>Level</strong> contains a Puzzle and a Task
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Use your Grey Cells</h4>
						Each <strong>Puzzle</strong> can be solved by entering the correct answer in the AnswerBox
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Clues</h4>
						<strong>Hidden</strong> clues to the Puzzle are present in the page
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Don't forget the Socials</h4>
						<strong>Tasks</strong> are social goals that needs to be met
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
