<body class='theme-orange login'>
	<div class="wrapper">
		<h5><a href="http://www.engageperpage.com" target="_blank">Powered by EPP</a></h5>
		<div class="login-body">
			<h2>Forgot your password?</h2>
			<%if !devise_error_messages2!.blank?%>
			<div class="alert alert-error">
				<ul>
					<%= devise_error_messages2! %>
				</ul>
			</div>
			<%end%>
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post ,:class => "form-validate" }) do |f| %>
			<div class="control-group">
				<div class="pw controls">
					<%= f.email_field :email , :autofocus => true,:placeholder =>"Email", :class => 'input-block-level' , :data => {'rule-required' =>"true"}%>
				</div>
			</div>
			<div class="submit">
				<%= f.submit "Send me reset password instructions" ,:class =>'btn btn-primary'%>
			</div>
			<div class="forget">
				<a href="#"><span></span></a>
			</div>
			</form>
			<% end %>
		</div>
	</div>
</body>